#logo {
}

body {
  background-color: #ebeff5;




  background-image: url(../images/casa6.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

#total-orders {
  background-color: #4cb4c7;
}

#orders-delivered {
  background-color: #7abecc;
}

#orders-pending {
  background-color: #7cd1c0;
}







*{
    box-sizing: border-box;
}
header,footer{
    background-color: gray;
    border-style: solid;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}

.main{
    height: 400px;
}
img{
    transition: all 0.5s ease;
    border-style: solid;
    border-color: #0c1d2f;
}
img:hover{
    transform: scale(0.9);
    border-radius: 30px;
}
.main img{
    width: 25%;
    float: left;
}
