<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Document</title>
</head>
<body>
  <h2>Registro de usuario</h2>
  <li>
      <a href="{% url 'home' %}">Ir a la pagina principal</a>
  </li>
  <form action=""method="POST">
    {% csrf_token %}
    <table>
          {{ form.as_table }}
    </table>

    <input type="reset" value="Limpiar">
    <input type="submit" value="Registrar">
  </form>
</body>
</html>
