{% extends 'layout.html' %} {% block content %}

<div class="container">
  <h1>
    Detalles de propiedad
    <a class="btn btn-primary" href="{% url 'appointment_edit' appointment.pk %}">Editar</a>
  </h1>
  <a><b>Identificador: </b> {{appointment.pk}} </a><br />
  <a><b>Datetime: </b> {{appointment.datetime}} </a><br />
  <a><b>Provedor: </b> {{appointment.provider}} </a><br />
  <a><b>Propietario: </b> {{appointment.client}} </a><br />

  <a><b>Provincia: </b> {{appointment.province}} </a><br />
  <a><b>Latitud: </b> {{appointment.latitude}} </a><br />
  <a><b>Longitud: </b> {{appointment.longitude}} </a><br />
  
  <hr />
  <a><b>Fecha de ingreso: </b> {{appointment.createdAt}} </a><br />
  <a><b>Fecha de actualización: </b> {{appointment.updatedAt}} </a><br />
</div>

{% endblock %}
