{% extends 'layout.html' %} {% block content %}

<div class="container">
  <h1>Lista de propiedades</h1>

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Alias</th>
        <th>Provincia</th>
        <th>Dueño</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for name, value in asset_dict.items %}
      <tr>
        <td>{{value.pk}}</td>
        <td><a href="{% url 'asset_read' value.pk %}">{{value.alias}}</a></td>
        <td>{{value.province}}</td>
        <td>{{value.owner}}</td>
        <td><a href="{% url 'asset_delete' value.pk %}">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
