{% extends 'layout.html' %} {% block content %}

<div class="container">
  <h1>
    Detalles de propiedad
    <a class="btn btn-primary" href="{% url 'asset_edit' asset.pk %}">Editar</a>
  </h1>
  <a><b>Identificador: </b> {{asset.pk}} </a><br />
  <a><b>Alias: </b> {{asset.alias}} </a><br />
  <a><b>Provincia: </b> {{asset.province}} </a><br />
  <a><b>Categoria: </b> {{asset.category}} </a><br />
  <a><b>Latitud: </b> {{asset.latitude}} </a><br />
  <a><b>Longitud: </b> {{asset.longitude}} </a><br />
  <a><b>Propietario: </b> {{asset.owner}} </a><br />
  <hr />
  <a><b>Fecha de ingreso: </b> {{asset.createdAt}} </a><br />
  <a><b>Fecha de actualización: </b> {{asset.updatedAt}} </a><br />
</div>

{% endblock %}
