{% extends 'layout.html' %} {% block content %}

<div class="container">
    <h1>IE-0724 Project 2</h1>
    <h2>Schedule your registry appointments here.</h2>
    <br />

    <div class="row mx-sm-n6">
        <div class="col px-sm-6">
            <div class="p-3 border bg-light">
                <h2>Registry</h2>
                <p>This is a project to simulate an appointment app, which let the user know the availability, and schedule the appointment.</p>
            </div>
        </div>
        <div class="col px-sm-6">
            <div class="p-3 border bg-light">
                <h2>News: New webapp!</h2>
                <p style="color: blueviolet;">New webapp has been released!. Please check it out!</p>
                <a class="btn btn-primary" href="https://github.com/josepabloapu/IE-0724-Proyecto-2">Details</a>
            </div>
        </div>
    </div>
    <br />
    <div class="row mx-sm-n6">
        <div class="col px-sm-6">
            <div class="p-3 border bg-light">
                <h2>Google Maps</h2>
                <p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d503095.6599546067!2d-84.46129963742526!3d9.897693893374015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe095e56e82d29af9!2sRegistro%20Nacional!5e0!3m2!1ses!2scr!4v1605307901221!5m2!1ses!2scr"
                        width="500"
                        height="400"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0"></iframe>
                </p>
            </div>
        </div>
        <div class="col px-sm-6">
            <div class="p-3 border bg-light">
                <h2>Contact Us</h2>
                <p>Please call +506 8402-1126</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
