<!DOCTYPE html>
{% extends 'layout.html' %} {% block content %}
<html lang="es-ES">




<body>
  <h1  class="animate__animated animate__pulse animate__infinite 	infinite">Bienvenidos</h1>
  <h2 class="animate__animated animate__backInUp"> Registre aqui su propiedad</h2><br> <br><br> <br><br> <br><br> <br>
<div></div>
<p> Direcciòn exacta <p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d503095.6599546067!2d-84.46129963742526!3d9.897693893374015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe095e56e82d29af9!2sRegistro%20Nacional!5e0!3m2!1ses!2scr!4v1605307901221!5m2!1ses!2scr" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</body>






  <footer>
      <p>Para màs informaciòn contactenos al 8402-1126</p>
  </footer>



</html>

{% endblock %}
